Source: kylin-rollback
Section: x11
Priority: optional
Maintainer: Kylin Team <team+kylin@tracker.debian.org>
Uploaders: hepuyao <hepuyao@kylinos.cn>
Build-Depends: debhelper-compat (=12),
               qtbase5-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libgsettings-qt-dev,
               qttools5-dev-tools,
               libbamf3-dev,
               libxrandr-dev,
               libxtst-dev,
               libx11-dev,
               libkf5windowsystem-dev,
Standards-Version: 4.5.0
Rules-Requires-Root: no
Homepage: https://github.com/ukui
Vcs-Git: https://github.com/ukui
Vcs-Browser: https://github.com/ukui

Package: kylin-rollback
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         accountsservice,
         libgsettings-qt1,
         libqt5x11extras5,
         bamfdaemon,
         libxrandr2,
         libxtst6,
         libx11-6
Description: ukui rollback
